name: Linux Build

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Install build tools
        run: sudo apt-get update && sudo apt-get install -y g++ make

      - name: Build project
        run: make

      - name: List build artifacts
        run: ls -l build/
